<ion-view view-title="{{'Cash Status'}}">
    <ion-content>
        <div class="im-wrapper">

            <!-- Search Form -->
            <form>
            <h4 class="border-top"><i class="icon ion-search"></i> {{'Select Period'}}</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label">{{'Starting Day'}}</span>
                  <input type="date" placeholder="{{'Day'}}" name="startdate" ng-model="startdate" required>
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">{{'Ending Day'}}</span>
                  <input type="date" placeholder="{{'Day'}}" name="enddate" ng-model="enddate" required>
                </label>
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="doRefresh(startdate, enddate)">
                  {{'Search'}}
                </button>
            </div>
            </form>
            <!-- Search Form Ends -->
          <span ng-repeat="d in data.stats" ng-show="data.stats">
            <div class="list card" ng-click="openBillModal(o)">
                <div class="item item-avatar">
                    <img src="img/cash_status.png">
                    <h2>{{d.user}}  ({{d.designation}})</h2> 
                    <p><strong>Sale:</strong> {{d.Sales}}</p>
                    <p><strong>Cash:</strong> {{d.CashInHand}}</p>
                    <p><strong>eWallets:</strong> {{d.PayTM}}</p>
                    <p><strong>Card:</strong> {{d.Card}}</p>
                    <!-- <p>Points Earned: {{d.PointsEarned}}</p>
                    <p>Points Returned: {{d.PointsUsed}}</p>
                    <p>Change Returned: {{d.ChangeReturned}}</p> -->
                </div>
            </div>
          </span>
        </div>
    </ion-content>
</ion-view>
